

	/* Body */
	body{
		margin:0px 0px 0px 0px;
		background-color: #FBFCFD;
		font-family: 'Galvji';
		color: #605757;
	}

	/* Links */
	a {color: #C79F9F; text-decoration:none;}
	a:hover{color:#C79F9F;}

	/* Header */
	.header {
		color: #E46868 !important; font-size:3em;
		margin: 30px 50px 50px 50px;
		padding-top: 30px;
	}
	.light{font-family: 'Source Serif 4'; font-weight:300;}
	.medium{font-family: 'Source Serif 4'; font-weight:500;}
	.header-link{color:#E46868;}

	/* Container to center divs for each case study */
	.container{
		align-content: 
		center; margin:auto;
		max-width:750px;
	}

	/* Media Adjustments */
	@media only screen and (max-width:440px) {
		.header{margin: 20px 10px 20px 10px !important;
			text-align:center;}
		.intro-div{padding: 20px 10px 20px 10px !important;}
		.case-div{padding: 20px 10px 20px 10px !important;}
	}

/*

	.row{
		display: flex; 
		padding-top: 30px;
	} 

	.inverted{
		background-color:#173939;
		color:#FBFCFD;
	}

	.left-col {
		float:left;
		max-width:50%; min-width:200px;
	}

	.right-col {
		min-width:50%; float:left;
	}
*/
